.web {
  display: flex;
  flex: 1;
  align-items: center;
}

.web-option {
  margin-right: 16px;
  font-size: 20px;
  font-weight: bold;
  transform: scale(100%);
}

.web-option a:hover {
  color: #86A8E7;
  transform: scale(110%);

  transition: all 1s;
}

.web-option a {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
}


.option-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
}

.web-option:last-child {
  margin: 0;
}
