.social-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon-div {
  padding: 6px;
  margin: 6px;
  cursor: pointer;
}

.social-icon {
  height: 40px;
  filter:blur(2px);
}

.social-icon:hover {
  filter:blur(0);
}

@media (max-width: 768px) {
  .social-icon {
    height: 24px;
    filter: blur(0);
  }
}