.mobile {
  background-color: #fff;
  height: 100vh;
  width: 60vw;
  position: absolute;
  right: 0;
  padding: 18px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.close-icon {
  margin-bottom: 8px;
}


.mobile-option {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 8px;
  margin: 16px 0;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
}

.mobile-option {
  font-size: 24px;
  margin: 12px 0;
  display: flex;
}

.mobile-option a {
  text-decoration: none;
  color: black;
}