.project-card {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
  padding: 8px 0;
}

.project-photo {
  width: 40%;
}

.project-info {
  margin-right: 24px;
}

.project-title {
  font-size: 20px;
  font-weight: 600;
}

.project-tags {
  display: flex;
  max-width: 60%;
  flex-wrap: wrap;
}

.tag {
  padding: 4px 8px;
  background-color: #86A8E7;
  border-radius: 4px;
  margin-right: 8px;
  margin-bottom: 4px;
}

.project-links a{
  text-decoration: none;
  color: black;
}

.project-links {
  display: flex;
  margin-top: 6px;
}

.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5FFBF1;
  width: max-content;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 6px;
}

.link-button {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

@media only screen and (max-width: 768px) {
  .project-photo {
    width: 70%;
  }

  .project-card {
    flex-direction: column-reverse;
  }

  .project-info {
    /* border: 1px solid red; */
    margin-top: 12px;
    width: 50%;
  }

  .project-tags {
    max-width: 100%;
  }
}