.about {
  padding-bottom: 48px;
}

.about-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.picture {
  height: 420px;
  filter: brightness(.5);
  transform: scale(.9);
  transition: all 2s;
}

.picture:hover {
  transform: scale(1);

  filter: brightness(1);
}

.about-info {
  font-size: 22px;
}

.info-name {
  color: #86A8E7;
  font-size: 24px;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .about-top {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .picture {
    height: 200px;
  }

  .info-name {
    font-size: 24px;
  }
}